.indexH1{
  color: red;
  text-align: center;
}
#account{
  color: blue;
}
.warna{
  color: blue;
}

#indexBody {
  background-color: rgb(153,102,153);
  color: rgb(255,255,204);
  margin:0px;
}
#bodyForm, #bodyHome {
  background-image: url(../img/white_bg.jpg);
}
div{
  margin: 0px;
  display: flex;
  justify-content: space-between;
  background-color: grey;
}
ul {
  list-style: none;
}
li {
  display: inline;
  margin :5px;
}
a {
  text-decoration: none;
}
main {
  background-color: grey;
  margin: 50px 50px 50px 50px;
  padding: 10px 10px 10px 10px;
}
article{
  border-bottom:  5px solid white;
}


.footer {
  background-color: grey;
  padding: 20px;
  text-align: center;

}

h5{
  text-align: center;
}
